[submodule "Cartography"]
	path = Cartography
	url = https://github.com/PiersonBro/Cartography
[submodule "TimerKit"]
	path = TimerKit
	url = https://github.com/PiersonBro/TimerKit
[submodule "Din"]
	path = Din
	url = https://github.com/PiersonBro/Din.git
