<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Speeches</key>
	<array>
		<string>z1_AC</string>
		<string>zCX</string>
		<string>zNeg_Prep_Timer</string>
		<string>z1_NC</string>
		<string>zCX</string>
		<string>zAff_Prep_Timer</string>
		<string>z2_AC</string>
		<string>zCX</string>
		<string>zNeg_Prep_Timer</string>
		<string>z2_NC</string>
		<string>zCX</string>
		<string>zNeg_Prep_Timer</string>
		<string>z1_NR</string>
		<string>zAff_Prep_Timer</string>
		<string>z1_AR</string>
		<string>zNeg_Prep_Timer</string>
		<string>z2_NR</string>
		<string>zAff_Prep_Timer</string>
		<string>z2_AR</string>
	</array>
	<key>TypeOfTimerz1_AC</key>
	<string>OvertimeTimer</string>
	<key>TypeOfTimerz1_AR</key>
	<string>OvertimeTimer</string>
	<key>TypeOfTimerz1_NC</key>
	<string>OvertimeTimer</string>
	<key>TypeOfTimerz1_NR</key>
	<string>OvertimeTimer</string>
	<key>TypeOfTimerz2_AC</key>
	<string>OvertimeTimer</string>
	<key>TypeOfTimerz2_AR</key>
	<string>OvertimeTimer</string>
	<key>TypeOfTimerz2_NC</key>
	<string>OvertimeTimer</string>
	<key>TypeOfTimerz2_NR</key>
	<string>OvertimeTimer</string>
	<key>TypeOfTimerzAff_Prep_Timer</key>
	<string>CountUpTimerReference</string>
	<key>TypeOfTimerzCX</key>
	<string>OvertimeTimer</string>
	<key>TypeOfTimerzNeg_Prep_Timer</key>
	<string>CountUpTimerReference</string>
	<key>z1_AC</key>
	<integer>480</integer>
	<key>z1_AR</key>
	<integer>300</integer>
	<key>z1_NC</key>
	<integer>480</integer>
	<key>z1_NR</key>
	<integer>300</integer>
	<key>z2_AC</key>
	<integer>480</integer>
	<key>z2_AR</key>
	<integer>300</integer>
	<key>z2_NC</key>
	<integer>480</integer>
	<key>z2_NR</key>
	<integer>300</integer>
	<key>zAff_Prep_Timer</key>
	<integer>300</integer>
	<key>zCX</key>
	<integer>180</integer>
	<key>zNeg_Prep_Timer</key>
	<integer>300</integer>
</dict>
</plist>
